<form action="/new_activity" method="post">
  <p>
    Urheilulaji: <br />
    <select name="sport" required>
      {% for s in sports %}
      <option value="{{ s.id }}">{{ s.name }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    Suorituksen kesto minuuteissa: <br />
    <input type="number" name="duration_in_minutes" required />
  </p>
  <p>
    Kuvaus: <br />
    <textarea name="content" rows="3" cols="30"></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Tallenna" />
</form>
