{% extends "base.html" %}{% block title %}Aktiviteetin muokkaus{% endblock %} {%
block content %}
<h1>Muokkaa suoritusta</h1>

<form action="/activity/{{ activity.id }}/edit" method="post">
  <select name="sport" required>
    {% for s in sports %}
    <option value="{{ s.id }}" {% if s.name == activity.sport %}selected{% endif %}>{{ s.name }}</option>
    {% endfor %}
  </select>
  <p>
    Suorituksen kesto minuuteissa: <br />
    <input
      type="number"
      name="duration_in_minutes"
      value="{{ activity.duration_in_minutes }}"
      required
    />
  </p>
  <p>
    Kuvaus: <br />
    <textarea name="content" rows="5" cols="40">
{{ activity.content }}</textarea
    >
  </p>
  <input type="submit" value="Tallenna" />
  <a href="/activity/{{ activity.id }}">Peruuta</a>
</form>
{% endblock %}
