<!DOCTYPE html>
<html>
  <body>
    <h1>Urheilupäiväkirja</h1>
    {% if session.username %}
    <p>Tervetuloa {{ session.username }}</p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
    {% for activity in activities %}
    <p>
      <a href="/activity/{{ activity.id }}">{{ activity.sport }} </a>
      <br />
      User: {{ activity.username }}, Duration: {{ activity.duration_in_minutes
      }} minutes, date: {{ activity.sent_at }}
    </p>
    {% if activity.user_id == session.user_id %}
    <a href="/remove/{{ activity.id }}">Poista</a>
    {% endif %}
    <hr />
    {% endfor %}
    <h2>Lisää urheilusuoritus</h2>
    <form action="/new_activity" method="post">
      <p>
        Urheilulaji: <br />
        <input type="text" name="sport" />
      </p>
      <p>
        Suorituksen kesto minuuteissa: <br />
        <input type="number" name="duration_in_minutes" />
      </p>
      <p>
        Kuvaus: <br />
        <textarea name="content" rows="3" cols="30"></textarea>
      </p>
      <input type="submit" value="Tallenna" />
    </form>
    {% else %}
    <p>Luo tunnus, jos olet uusi käyttäjä.</p>
    <a href="/register">Luo tunnus</a>
    <p>Kirjaudu sisään, jos sinulla on jo tunnus.</p>
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
  </body>
</html>
