{% extends "base.html" %} {% block title %}Etusivu{% endblock %}{% block content
%}
<h1>Urheilupäiväkirja</h1>
{% if session.username %}
<p>Tervetuloa {{ session.username }}</p>
<p><a href="/user/{{ session.user_id }}">Oma sivu</a></p>
<p>
  <a href="/logout">Kirjaudu ulos</a>
</p>
<hr />
<h2>Haku</h2>
{% include "partials/search_form.html" %}
<h2>Urheilusuorituksia</h2>
{% for activity in activities %} {% include "partials/activity_list_item.html"
%} {% endfor %}
<h2>Lisää urheilusuoritus</h2>
{% include "partials/activity_form.html" %} {% else %}
<p>Luo tunnus, jos olet uusi käyttäjä.</p>
<a href="/register">Luo tunnus</a>
<p>Kirjaudu sisään, jos sinulla on jo tunnus.</p>
<a href="/login">Kirjaudu sisään</a>
{% endif %} {% endblock %}
